<div
  class="seller-info-page w-100 d-flex flex-column align-items-center"
  style="height: 93vh; overflow: auto"
>
  <div
    class="submit-btn-block seller-search-create-block d-flex justify-content-between align-items-center m-4"
    style="width: 93%"
  >
    <div class="search-block d-flex align-items-center w-50">
      <div
        class="w-50 fullname-block block position-relative d-flex align-items-center"
      >
        <input
          type="text"
          class="fullname-field field"
          placeholder="Search Seller By Name"
          [(ngModel)]="searchedValue"
          (keyup)="searchedValue === '' ? sellerSearch() : ''"
        />
        <label for="fullname-field" class="label">Search Seller By Name</label>
      </div>
      <button
        type="button"
        class="btn submit-btn m-0 ms-4"
        (click)="sellerSearch()"
      >
        Search
      </button>
    </div>

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn submit-btn m-0"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="setNewForm('new')"
    >
      Add New Seller
    </button>
  </div>

  <!-- Modal 1-->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <!-- New Seller -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            {{ id === '' ? 'New' : 'Update'}} Seller
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <form
            [formGroup]="sellerForm"
            class="form-block d-flex flex-column justify-content-center align-items-center"
          >
            <!-- full name -->
            <div
              class="fullname-block block position-relative d-flex align-items-center mt-4"
            >
              <input
                type="text"
                class="fullname-field field"
                formControlName="name"
                placeholder="Enter User Name"
              />
              <label for="fullname-field" class="label">Full Name</label>
            </div>
            <!-- Full Name Validation -->
            <div
              class="validations"
              *ngIf="getName?.touched && getName?.hasError('pattern')"
            >
              User Name should not contain special characters and digits
            </div>

            <!-- email -->
            <div
              class="email-block block position-relative d-flex align-items-center mt-4"
            >
              <input
                type="email"
                class="email-field field"
                formControlName="email"
                placeholder="Enter Email"
              />
              <label for="email-field" class="label">Enter Email</label>
            </div>
            <!-- Email Validation -->
            <div
              class="validations"
              *ngIf="getEmail?.touched && getEmail?.hasError('pattern')"
            >
              Invalid Email id
            </div>

            <!-- password -->
            <div
              class="password-block block position-relative d-flex align-items-center mt-4"
            >
              <input
                [type]="checked ? 'text' : 'password'"
                class="password-field field"
                formControlName="password"
                placeholder="Enter Password"
                autocomplete
              />
              <label for="password-field" class="label">Password</label>
            </div>

            <!-- Password Validation -->
            <div
              class="validations"
              *ngIf="
                getPass?.touched && getPass?.hasError('pattern');
                else fullNameVal1
              "
            >
              Password should atleast have a uppercase letter along with 1 digit
              and special symbol
            </div>
            <ng-template #fullNameVal1
              ><div
                class="validations"
                *ngIf="getPass?.touched && getPass?.hasError('maxlength')"
              >
                Invalid Password
              </div>
            </ng-template>

            <!-- toggle password btn -->
            <div
              class="toggle-checkbox-block d-flex align-items-center justify-content-between"
              style="font-size: 0.8rem; font-weight: 400"
            >
              <div class="toggle-block d-flex">
                <input
                  type="checkbox"
                  class="toggle-checkbox"
                  style="
                    cursor: pointer;
                    box-sizing: border-box;
                    margin-right: 10px;
                  "
                  (click)="showPasswordToggle()"
                />
                Show Password
              </div>
            </div>

            <div
              class="user-role-block w-100 d-flex align-items-center justify-content-between justify-content-md-start"
              *ngIf="id === ''"
            >
              <div class="title me-2" style="font-size: 0.9rem !important">
                Select User Role
              </div>
              <div class="role-select-block">
                <select
                  class="form-select"
                  aria-label="Default select example"
                  style="
                    outline: none;
                    border: 1px solid black;
                    font-size: 0.9rem !important;
                  "
                  formControlName="role"
                >
                  <option selected value="admin">admin</option>
                  <option value="user">user</option>
                </select>
              </div>
            </div>
            <div
              class="validations"
              *ngIf="getRole?.touched && getRole?.invalid"
            >
              Please Select Users Role
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <div
            class="w-100 submit-btn-block d-flex justify-content-between align-items-center mt-0"
          >
            <button
              class="btn btn-primary submit-btn m-0"
              type="submit"
              data-bs-dismiss="modal"
              (click)="id === '' ? addSeller() : updateSeller()"
            >
              {{ id === "" ? "Add Seller" : "Update Seller" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <table class="table" style="width: 100vw; overflow-x: auto">
      <thead class="table-secondary">
        <tr>
          <th class="" style="text-align: center; width: 10%" scope="col">#</th>
          <th class="" style="text-align: center; width: 22%" scope="col">
            Name
          </th>
          <th class="" style="text-align: center; width: 22%" scope="col">
            Email
          </th>
          <th class="" style="text-align: center; width: 22%" scope="col">
            Role
          </th>
          <th
            class=""
            style="text-align: center; width: 22%"
            scope="col"
            *ngIf="loggedUser['role'] !== 'user'"
          >
            Action
          </th>
        </tr>
      </thead>
      <div *ngIf="sellerList === undefined">Data is empty</div>
      <tbody>
        <tr *ngFor="let seller of sellerList; index as sr">
          <td style="text-align: center">
            {{ completeResp.page === 1 ? sr + 1 : limit + sr + 1 }}
          </td>
          <td style="text-align: center">{{ seller.name }}</td>
          <td style="text-align: center">{{ seller.email }}</td>
          <td
            class="d-flex justify-content-evenly align-items-center"
            style="text-align: center"
          >
            {{ seller.role }}
            <div
              class="role-select-block"
              *ngIf="loggedUser['role'] !== 'user'"
            >
              <select
                class="form-select"
                aria-label="Default select example"
                style="
                  outline: none;
                  border: 1px solid black;
                  font-size: 0.9rem !important;
                "
              >
                <option
                  value="admin"
                  (click)="setSellerRole(seller._id, 'admin')"
                >
                  admin
                </option>
                <option
                  value="user"
                  (click)="setSellerRole(seller._id, 'user')"
                >
                  user
                </option>
              </select>
            </div>
          </td>
          <td style="text-align: center" *ngIf="loggedUser['role'] !== 'user'">
            <div class="w-100 d-flex justify-content-evenly">
              <button
                class="btn btn-dark"
                (click)="setNewForm(seller, seller._id)"
                style="cursor: pointer"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Update
              </button>
              <button
                class="btn btn-danger"
                (click)="deleteSeller(seller._id)"
                style="cursor: pointer"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Limit & Pagination -->
  <div
    class="limit_pagination d-flex justify-content-between align-items-center"
    style="width: 93%"
  >
    <div class="limit-block">
      Limit:
      <select
        class="form-select"
        aria-label="Default select example"
        style="
          outline: none;
          border: 1px solid black;
          font-size: 0.9rem !important;
        "
      >
        <option
          selected
          value="admin"
          (click)="setDataLimit(3, completeResp.page)"
        >
          3
        </option>
        <option value="user" (click)="setDataLimit(5, completeResp.page)">
          5
        </option>
        <option value="user" (click)="setDataLimit(8, completeResp.page)">
          8
        </option>
        <option value="user" (click)="setDataLimit(8, completeResp.page)">
          10
        </option>
      </select>
    </div>

    <div class="pagination-block">
      <button
        class="btn btn-dark me-1"
        [class.disabled]="completeResp?.page == 1"
        (click)="applyPagination(completeResp?.page - 1)"
      >
        Prev
      </button>
      {{ completeResp?.page }}
      <button
        class="btn btn-dark ms-1"
        (click)="applyPagination(completeResp?.page + 1)"
        [class.disabled]="completeResp?.page == completeResp?.totalPages"
      >
        Next
      </button>
    </div>
  </div>
  <div [ngClass]="errorMsgClass">{{ errorMsg }}</div>
</div>
