.form-block {
  width: 100%;
  box-sizing: border-box;

  .block {
    width: 100%;
  }

  .toggle-checkbox-block {
    
    width: 100%;
  }

  .submit-btn-block {

     width: 100%;
     border: 2px solid red !important;
     box-sizing: border-box; 
  }
}