<nav
  class="navbar navbar-expand-lg navbar-light bg-dark d-flex justify-content-between flex-row"
  style="justify-content: space-between !important"
>
  <div class="container-fluid d-flex justify-content-between w-100 flex-row">
    <a
      class="navbar-brand"
      style="font-size: 1.4rem; font-weight: bold !important"
      style="color: white !important"
      >{{ "Comic Verse" }}</a
    >

    <!-- Canvas Navbar -->
    <button
      class="btn bg-transparent d-flex d-md-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight"
    >
      <img src="../../../assets/menu.svg" />
    </button>

    <div
      class="offcanvas offcanvas-end w-75 d-flex d-md-none"
      tabindex="-1"
      id="offcanvasRight"
    >
      <div
        class="offcanvas-header bg-dark w-100 d-flex justify-content-end"
        style="background-image: none"
      >
        <div class="bg-transparent" class="" data-bs-dismiss="offcanvas">
          <img src="../../../assets/cross.svg" />
        </div>
      </div>
      <div class="offcanvas-body bg-dark">
        <ul class="navbar-nav">
          <li class="nav-item d-flex align-items-center" *ngIf="token !== null">
            <img width="15" class="me-2" src="../../../assets/user.svg" />
            <a
              class="nav-link active"
              role="button"
              [ngStyle]="{
                color: 'white',
                'font-weight': demo.url === '/app/my-profile' ? '700' : ''
              }"
              aria-current="page"
              routerLink="/app/my-profile"
              [routerLinkActive]="['is-active']"
              >Profile</a
            >
          </li>
          <li class="nav-item d-flex align-items-center">
            <img class="me-2" width="15" src="../../../assets/list.svg" />
            <a
              class="nav-link active"
              role="button"
              [ngStyle]="{
                color: 'white',
                'font-weight':
                  demo.url === '/app/product/product-list' ||
                  demo.url === '/app/product/product-details'
                    ? '700'
                    : ''
              }"
              routerLink="/app/product/product-list"
              >Product List</a
            >
          </li>
          <li class="nav-item d-flex align-items-center">
            <img width="15" class="me-2" src="../../../assets/cart.svg" />
            <a
              class="nav-link active"
              role="button"
              [ngStyle]="{
                color: 'white',
                'font-weight': demo.url === '/app/cart' ? '700' : ''
              }"
              aria-current="page"
              routerLink="/app/cart"
              [routerLinkActive]="['is-active']"
              >Cart</a
            >
          </li>
          <li class="nav-item d-flex align-items-center" *ngIf="token !== null">
            <img width="15" class="me-2" src="../../../assets/log-out.svg" />
            <a
              class="nav-link active logout-active"
              role="button"
              [ngStyle]="{
                color: 'white'
              }"
              (click)="logoutCustomer()"
              >Logout</a
            >
          </li>
          <li class="nav-item d-flex align-items-center" *ngIf="token === null">
            <img width="15" class="me-2" src="../../../assets/seller.svg" />
            <a
              class="nav-link active"
              role="button"
              [ngStyle]="{
                color: 'white',
                'font-weight': demo.url === '/app/my-profile' ? '700' : ''
              }"
              aria-current="page"
              routerLink="/seller/auth/login"
              [routerLinkActive]="['is-active']"
              >Become a Seller</a
            >
          </li>

          <li class="nav-item d-flex align-items-center" *ngIf="token === null">
            <img width="15" class="me-2" src="../../../assets/log-in.svg" />
            <a
              class="nav-link active"
              role="button"
              [ngStyle]="{
                color: 'white',
                'font-weight': demo.url === '/app/my-profile' ? '700' : ''
              }"
              aria-current="page"
              routerLink="/auth/login"
              [routerLinkActive]="['is-active']"
              >Sign In</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Normal Navbar -->
    <div class="d-md-flex justify-content-end d-none" id="navbarNavDropdown">
      <ul class="navbar-nav d-flex flex-row gap-4">
        <li class="nav-item d-flex align-items-center" *ngIf="token !== null">
          <img width="15" class="me-1" src="../../../assets/user.svg" />
          <a
            class="nav-link active"
            role="button"
            [ngStyle]="{
              color: 'white',
              'font-weight': demo.url === '/app/my-profile' ? '700' : ''
            }"
            aria-current="page"
            routerLink="/app/my-profile"
            [routerLinkActive]="['is-active']"
            >Profile</a
          >
        </li>
        <li class="nav-item d-flex align-items-center">
          <img class="me-1" width="15" src="../../../assets/list.svg" />
          <a
            class="nav-link active"
            role="button"
            [ngStyle]="{
              color: 'white',
              'font-weight':
                demo.url === '/app/product/product-list' ||
                demo.url === '/app/product/product-details'
                  ? '700'
                  : ''
            }"
            routerLink="/app/product/product-list"
            >Product List</a
          >
        </li>
        <li class="nav-item d-flex align-items-center">
          <img width="15" class="me-1" src="../../../assets/cart.svg" />
          <a
            class="nav-link active"
            role="button"
            [ngStyle]="{
              color: 'white',
              'font-weight': demo.url === '/app/cart' ? '700' : ''
            }"
            aria-current="page"
            routerLink="/app/cart"
            [routerLinkActive]="['is-active']"
            >Cart</a
          >
        </li>
        <li class="nav-item d-flex align-items-center" *ngIf="token !== null">
          <img width="15" class="me-1" src="../../../assets/log-out.svg" />
          <a
            class="nav-link active logout-active"
            role="button"
            [ngStyle]="{
              color: 'white'
            }"
            (click)="logoutCustomer()"
            >Logout</a
          >
        </li>
        <li class="nav-item d-flex align-items-center" *ngIf="token === null">
          <img width="15" class="me-1" src="../../../assets/seller.svg" />
          <a
            class="nav-link active"
            role="button"
            [ngStyle]="{
              color: 'white',
              'font-weight': demo.url === '/app/my-profile' ? '700' : ''
            }"
            aria-current="page"
            routerLink="/seller/auth/login"
            [routerLinkActive]="['is-active']"
            >Become a Seller</a
          >
        </li>

        <li class="nav-item d-flex align-items-center" *ngIf="token === null">
          <img width="15" class="me-1" src="../../../assets/log-in.svg" />
          <a
            class="nav-link active"
            role="button"
            [ngStyle]="{
              color: 'white',
              'font-weight': demo.url === '/app/my-profile' ? '700' : ''
            }"
            aria-current="page"
            routerLink="/auth/login"
            [routerLinkActive]="['is-active']"
            >Sign In</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
