

.block {

    width: 100%;
    height: 40px;
    
    box-sizing: border-box;
    position: relative;

    display: flex;
    align-items: center;
    margin: 3% 0%;


    .field {

        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent;
        border: 1px solid black;
        outline: none;
        z-index: 1;
        padding: 0px 5px 0px 21px;
        border-radius: 5px;
        font-size: 0.9rem

    }

    .field::placeholder {
        color:#000;
        font-size: 0.9rem;
    }

    .label {
        position: absolute;
        top: 8px;
        font-weight: 400;
        font-size: 0.9rem;
        color: rgba(87, 87, 87,0);
        transition: 0.5s;   
        z-index: -1;
        box-sizing: border-box;
        margin-left: 21px;
    }

    .field:focus + .label{

        display: flex;
        z-index: 2;
        top: -10px;
        background-color: white;
        font-size: 0.8rem;
        font-weight: 400;
        color: black;  
        box-sizing: border-box;
        margin-left: 15px;
        padding: 0px 5px 0px 5px;
    }

    .field:focus{

        border: 1px solid black;
    }
}


.validations {

    width: 100%;
    font-size: 0.8rem;
    color: red;
}

.submit-btn:hover {

    color: white !important;
    background-color: black !important;
}

.forget-pass-block:hover {

    font-weight: 800;
    transition: 0.05s
}

.snackbar {
    display: none;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  .show {
    
    display: flex;
    justify-content: center;
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }