<div class="login-form">
  <div class="login-form-card">
    <form [formGroup]="loginForm">
      <!-- email -->
      <div class="email-block">
        <input
          type="email"
          class="email-field"
          formControlName="email"
          placeholder="Enter Email"
        />
        <label for="email-field">Enter Email</label>
      </div>
      <!-- Email Validation -->
      <div *ngIf="getEmail?.hasError('pattern')">
        The email you entered is not a valid email
      </div>

      <!-- password -->
      <div class="password-block">
        <input
          [type]="checked ? 'text' : 'password'"
          class="password-field"
          formControlName="password"
          placeholder="Enter Password"
        />
        <label for="password-field">Enter Password</label>
      </div>

      <!-- toggle passowrd btn -->
      <div class="toggle-checkbox-block">
        <input
          type="checkbox"
          class="toggle-checkbox"
          (click)="showPasswordToggle()"
        />
        Show Password
      </div>

      <div>Forget Password</div>

      <div>
        <button
          [disabled]="loginForm.invalid"
          class="btn btn-primary"
          type="submit"
          (click)="logAUser()"
          [routerLink]="'/my-profile'"
        >
          Login
        </button>
        <a [routerLink]="'/auth/register'"
          ><button class="btn btn-primary">Register</button></a
        >
      </div>
    </form>
  </div>
</div>