<div
  class="login-form d-flex justify-content-center align-items-center flex-column flex-md-row py-5 px-3 py-md-0 px-md-0"
>
  <div
    class="empty-div d-flex flex-column justify-content-center mb-5 mb-md-0 p-0 ps-md-5"
  >
    <div class="logo-block" style="width: 300px">
      <img
        style="height: 100%; width: 100%"
        src="../../../assets/ComivVerse-Logo.svg"
      />
    </div>
    <div
      class="sub-title mt-3 mt-md-4"
      style="width: 90%; color: white; font-size: 1.1rem"
    >
      Welcome to the world of comic books where you will gets all of super hero
      comics and manga's, To get started please register your self
    </div>
  </div>

  <div
    class="login-card-main-div d-flex justify-content-center align-items-center"
  >
    <div
      class="login-form-card d-flex justify-content-between align-items-center flex-column py-5"
    >
      <div class="form-title">
        {{ "Login" | uppercase }}<i class="bi bi-exclamation-circle-fill"></i>
      </div>

      <form
        [formGroup]="loginForm"
        class="form-block d-flex flex-column justify-content-center align-items-center"
      >
        <!-- email -->
        <div
          class="email-block block position-relative d-flex align-items-center mt-4"
        >
          <input
            type="email"
            class="email-field field"
            formControlName="email"
            placeholder="Enter Email"
          />
          <label for="email-field" class="label">Enter Email</label>
        </div>
        <!-- Email Validation -->
        <div
          class="validations d-flex align-items-center"
          *ngIf="getEmail?.touched && getEmail?.hasError('pattern')"
        >
          Invalid Email id
        </div>

        <!-- password -->
        <div
          class="password-block block position-relative d-flex align-items-center mt-4"
        >
          <input
            [type]="checked ? 'text' : 'password'"
            class="password-field field"
            formControlName="password"
            placeholder="Enter Password"
            autocomplete
          />
          <label for="password-field" class="label">Password</label>
        </div>

        <!-- Password Validation -->
        <div
          class="validations"
          *ngIf="
            getPass?.touched && getPass?.hasError('pattern');
            else fullNameVal1
          "
        >
          Password should at least have a uppercase letter along with 1 digit and
          special symbol
        </div>
        <ng-template #fullNameVal1
          ><div
            class="validations"
            *ngIf="getPass?.touched && getPass?.hasError('maxlength')"
          >
            Invalid Password
          </div>
        </ng-template>

        <!-- toggle password btn -->
        <div
          class="toggle-checkbox-block d-flex align-items-center justify-content-between"
          style="font-size: 0.8rem; font-weight: 400"
        >
          <div class="toggle-block d-flex">
            <input
              type="checkbox"
              class="toggle-checkbox"
              (click)="showPasswordToggle()"
              style="
                cursor: pointer;
                box-sizing: border-box;
                margin-right: 10px;
              "
            />
            Show Password
          </div>
          <div
            class="forget-pass-block"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Forget Password ?
          </div>
        </div>

        <div class="submit-btn-block d-flex justify-content-between align-items-center m-0">
          <button
            class="btn btn-primary submit-btn m-0"
            type="submit"
            (click)="logAUser()"
          >
            Login
          </button>

          <button
            class="btn btn-primary submit-btn m-0"
            type="submit"
            [routerLink]="'/auth/register'"
          >
            Register
          </button>
        </div>
        <div class="mt-4" role="button" style="font-size: 0.8rem;font-weight: 600;" routerLink="/app/product/product-list">Go Back To Home</div>

        <!-- Wave Btn  -->
        <!-- <div class="wrapper">
          <div class="wave-btn"><span>wave</span></div>
        </div> -->
      </form>
    </div>
  </div>
  <div [ngClass]="errorMsgClass">{{ errorMsg }}</div>
</div>



<form
       
        class="form-block d-flex flex-column justify-content-center align-items-center"
      >
        <!-- email -->
        <div
          class="email-block block position-relative d-flex align-items-center mt-4"
        >
          <input
            type="email"
            class="email-field field"
            placeholder="Enter Email"
          />
          <label for="email-field" class="label">Enter Email</label>
        </div>
        

        <!-- password -->
        <div
          class="password-block block position-relative d-flex align-items-center mt-4"
        >
          <input
            type='password'
            class="password-field field"
            placeholder="Enter Password"
            autocomplete
          />
          <label for="password-field" class="label">Password</label>
        </div>

        <div class="submit-btn-block d-flex justify-content-between align-items-center m-0">
          <button
            class="btn btn-primary submit-btn m-0"
            type="submit"
          >
            Login
          </button>

          <button
            class="btn btn-primary submit-btn m-0"
            type="submit"
            [routerLink]="'/auth/register'"
          >
            Register
          </button>
        </div>

      
      </form>