<div class="navbar px-3" style="height: 7%; background-color: black">
  <div
    class="navbar-img h-100 d-flex justify-content-start align-items-center"
    style="color: white; font-weight: 800"
  >
     {{"Comic Verse" }}
  </div>
  <div style="color: white; cursor: pointer;" routerLink="/app/users">Users</div>
  <div style="color: white; cursor: pointer;" routerLink="/app/my-profile">Profile</div>

  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
      s
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
      <li><button class="dropdown-item" type="button">Action</button></li>
      <li><button class="dropdown-item" type="button">Another action</button></li>
      <li><button class="dropdown-item" type="button">Something else here</button></li>
    </ul>
  </div>
</div>
