<div class="change-password w-100 h-100 pt-5 ps-3">
  <div class="title h5">Change Password</div>
  <div class="form-block w-75">
    <form class="form w-100" [formGroup]="passForm">
      
        <!-- old password -->
      <div
      class="password-block block position-relative d-flex align-items-center mt-4"
    >
      <input
        [type]="checked ? 'text' : 'password'"
        class="password-field field"
        formControlName="old_password"
        placeholder="Enter Old Password"
      />
      <label for="password-field" class="label">Old Password</label>
    </div>
    <!-- Password Validation -->
    <div
      class="validations"
      *ngIf="
        getOld?.touched && getOld?.hasError('pattern');
        else passVal1
      "
    >
      Password should at least have a uppercase letter along with 1 digit
      and special symbol
    </div>
    <ng-template #passVal1
      ><div
        class="validations"
        *ngIf="
          getOld?.touched &&
          getOld?.hasError('maxlength') &&
          !getOld?.hasError('touched')
        "
      >
        Entered password is invalid
      </div>
    </ng-template>

    <!-- new password -->
    <div
      class="password-block block position-relative d-flex align-items-center mt-4"
    >
      <input
        [type]="checked ? 'text' : 'password'"
        class="password-field field"
        formControlName="new_password"
        placeholder="Enter New Password"
      />
      <label for="password-field" class="label">New Password</label>
    </div>

    <!-- Password Validation -->
    <div
      class="validations"
      *ngIf="
        getNew?.touched && getNew?.hasError('pattern');
        else passVal1
      "
    >
      Password should at least have a uppercase letter along with 1 digit
      and special symbol
    </div>
    <ng-template #passVal1
      ><div
        class="validations"
        *ngIf="
          getNew?.touched &&
          getNew?.hasError('maxlength') &&
          !getNew?.hasError('touched')
        "
      >
        Entered password is invalid
      </div>
    </ng-template>

    <!-- toggle password btn -->
    <div
      class="toggle-checkbox-block d-flex align-items-center"
    >
      <input
        type="checkbox"
        class="toggle-checkbox"
        (click)="showPasswordToggle()"
        style="
          cursor: pointer;
          box-sizing: border-box;
          margin-right: 10px;
          background-color: black;
        "
      />
      Show Password
    </div>

    <!-- confirm password btn -->
    <div
      class="confpassword-block block position-relative d-flex align-items-center mt-4"
    >
      <input
        type="password"
        class="confpassword-field field"
        formControlName="confirm_password"
        placeholder="Enter Confirm Password"
      />
      <label for="confpassword-field" class="label"
        >Confirm Password</label
      >
    </div>
    <div
      class="validations"
      *ngIf="
        getConf?.touched && getConf?.hasError('pattern');
        else confPassVal1
      "
    >
      Password should at least have a uppercase letter along with 1 digit
      and special symbol
    </div>
    <ng-template #confPassVal1>
      <div
        class="validations"
        *ngIf="
          getConf?.touched && getNew?.value !== getConf?.value
        "
      >
        Given password does not match with above password
      </div>
    </ng-template>
     

      <!-- register btn -->
      <div class="submit-btn-block" style="width: 100%">
        <button
          class="btn btn-primary submit-btn"
          type="submit"
          [disabled]="passForm.invalid"
          (click)="submitPassword()"
        >
          Change Pass
        </button>
      </div>
    </form>
  </div>
  <div [ngClass]="errorMsgClass">{{ errorMsg }}</div>
</div>
