::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    overflow: scrollbars-none;
}

.image-block {

    background-image: url('../../../.././../../assets/no-image.webp');
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid gray;
}