<nav class="navbar bg-light d-flex flex-row justify-content-between" style="background-color: rgb(54, 54, 54) !important">
    <div class="container-fluid w-50 ">
      <a class="navbar-brand">
        <img src="../../../assets/ComivVerse-Logo.svg" alt="Logo" width="150" height="24" class="d-inline-block align-text-top">
      </a>
    </div>
    <button [routerLink]="'/auth/login'" (click)="userLoggedOut()" class="btn btn-primary m-1" >Login Out</button>
</nav>
<div class="Login Profile">
  <div class="">{{loggedInUser['fullName']}}</div>
  <div class="">{{loggedInUser['companyName']}}</div>
  <div class="">{{loggedInUser['email']}}</div>
  <div class="">{{loggedInUser['password']}}</div>
</div>