<div
  class="login-form d-flex justify-content-center align-items-center flex-column flex-md-row py-5 px-3 py-md-0 px-md-0"
>
  <div
    class="empty-div d-flex flex-column justify-content-center mb-5 mb-md-0 p-0 ps-md-5"
  >
    <div class="logo-block" style="width: 300px">
      <img
        style="height: 100%; width: 100%"
        src="../../../assets/ComivVerse-Logo.svg"
      />
    </div>
    <div
      class="sub-title mt-3 mt-md-4"
      style="width: 90%; color: white; font-size: 1.1rem"
    >
      Welcome to the world of comic books where you will gets all of super hero
      comics and mangas, To get started please register your self
    </div>
  </div>

 
</div>