/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {overflow-y: scroll; Scrollbar-width: none;} 
body::-webkit-scrollbar { width: 0; height: 0;}

// For Hidding grecaptcha-badge
.grecaptcha-badge {
  visibility: hidden;
}

.block {
    width: 50%;
    height: 40px;

    .field {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: transparent;
      border: 1px solid black;
      outline: none;
      z-index: 1;
      padding: 0px 5px 0px 21px;
      border-radius: 5px;
      font-size: 0.9rem;
    }

    .field::placeholder {
      color: #000;
      font-size: 0.9rem;
    }

    .label {
      position: absolute;
      top: 8px;
      font-weight: 400;
      font-size: 0.9rem;
      color: rgba(87, 87, 87, 0);
      transition: 0.5s;
      z-index: -1;
      box-sizing: border-box;
      margin-left: 21px;
    }

    .field:focus + .label {
      display: flex;
      z-index: 2;
      top: -10px;
      background-color: white;
      font-size: 0.8rem;
      font-weight: 400;
      color: black;
      box-sizing: border-box;
      margin-left: 15px;
      padding: 0px 5px 0px 5px;
    }

    .field:focus {
      border: 1px solid black;
    }
  }

// Input Field
.form-block {
  width: 80%;
  box-sizing: border-box;

  .block {
    width: 100%;
    height: 40px;

    .field {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: transparent;
      border: 1px solid black;
      outline: none;
      z-index: 1;
      padding: 0px 5px 0px 21px;
      border-radius: 5px;
      font-size: 0.9rem;
    }

    .field::placeholder {
      color: #000;
      font-size: 0.9rem;
    }

    .label {
      position: absolute;
      top: 8px;
      font-weight: 400;
      font-size: 0.9rem;
      color: rgba(87, 87, 87, 0);
      transition: 0.5s;
      z-index: -1;
      box-sizing: border-box;
      margin-left: 21px;
    }

    .field:focus + .label {
      display: flex;
      z-index: 2;
      top: -10px;
      background-color: white;
      font-size: 0.8rem;
      font-weight: 400;
      color: black;
      box-sizing: border-box;
      margin-left: 15px;
      padding: 0px 5px 0px 5px;
    }

    .field:focus {
      border: 1px solid black;
    }
  }

  .validations {
    width: 100%;
    font-size: 0.8rem;
    color: red;
    box-sizing: border-box;
    margin-top: 1%;
  }

  .toggle-checkbox-block {
    width: 80%;
    font-size: 0.8rem;
    font-weight: 400;
    box-sizing: border-box;
    margin: 20px 0px;
    color: black;

    input[type="checkbox"]:checked {
      accent-color: black !important;
    }
  }

  .submit-btn-block {
    width: 100%;
    box-sizing: border-box;
    
    margin-top: 2%;

    .submit-btn {
      width: 150px;
      color: black;
      border: 1px solid black;
      background-color: transparent;
      transition: 0.5s;
      font-weight: 400;
      box-sizing: border-box;
      margin-top: 4%;
    }

    .submit-btn:hover {
      color: white !important;
      background-color: black !important;
    }
  }
}

.validations {
  width: 100%;
  font-size: 0.8rem;
  color: red;
  box-sizing: border-box;
  margin-top: 1%;
}

.submit-btn-block {
  width: 100%;
  box-sizing: border-box;
  margin-top: 2%;

  .submit-btn {
    width: 150px;
    color: black;
    border: 1px solid black;
    background-color: transparent;
    transition: 0.5s;
    font-weight: 400;
    box-sizing: border-box;
    margin-top: 4%;
  }

  .submit-btn:hover {
    color: white !important;
    background-color: black !important;
  }
}

.snackbar {
  display: none;
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.show {
  display: flex;
  justify-content: center;
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

// Media Query for Tablets
@media only screen and (max-width: 768px) {
  .submit-btn-block {
    .submit-btn {
      width: 130px !important;
      font-size: 0.9rem;
    }
  }
}

// Media Query for Smart Phones
@media only screen and (max-width: 480px) {
  .form-block {
    .validations {
      font-size: 0.8rem !important;
    }

    .submit-btn-block {
      .submit-btn {
        width: 120px !important;
        font-size: 0.9rem;
      }
    }
  }
  .submit-btn-block {
    .submit-btn {
      width: 120px !important;
      font-size: 0.9rem;
    }
  }
}
